html {
    height: 95%;
}

body {
    /*
     * 设置所有笔记背景图片或背景颜色
      background:url("/media/images/bg/marboo-apple.png");
      background:url("/media/images/bg/marboo-wood.jpg");
      background:url("/media/images/bg/marboo-青.png");
      background:url("/media/images/bg/marboo-灰.jpg");
      background:url("/media/images/bg/page-bg.png");
      background:url("/media/images/bg/marboo-Reeder-Noise.png");
      background:url("/media/images/bg/marboo-灰.jpg");
      */
    background-color: #eeeeee;
    
    font-size: 14px;
    padding: 30px 15px 15px 15px;
}

article {
/*    background-color: #fff;*/
    border: 1px solid #d1d2d4;
    border-radius: 3px;
}

.kbd {
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.1em 0.5em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #eeeeee;
    font-size: 83%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 white inset;
    text-shadow: 0 1px 0 white;
    white-space: nowrap;
    line-height: 1.3;
 }

 pre.literal-block, pre.doctest-block, div.highlight > pre {
     //background: transparent;
     //background-color: #ffffff;
     trans
     display: inline-block;
     margin: 0 2em 0 2em;
     padding: 10px;
     //border: thin solid #AAF;
     //border-radius: .5em;
}

#toc {
	font-size: 12px;
	margin: 10px 20px 0 0;
	background: #eee;
	padding: 15px 30px 15px 10px;
	position:fixed;
	top: 0;
	right: 10px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
