body {
    /*
    background:url("../bg-images/marboo-青.png");
    background:url("/media/bg-images/marboo-apple.png");
    background:url("/media/bg-images/marboo-wood.jpg");
    background:url("../bg-images/marboo-灰.jpg");
    */
    background:url("../bg-images/marboo-Reeder-Noise.png");
    /* color:#ffffff; */
    font-size: 14px;
}
