body {
    /*
    background:url("../bg-images/QQ_tabl_bg_texture_InActive@2x.png");
    background:url("../bg-images/Reeder-Noise.png");
    background:url("../bg-images/pool_table.png");
    background:url("../bg-images/apple-nc.png");
    background:url("../bg-images/lhzhang.png");
    background:url("../bg-images/ac643.gif");
    background:url("../bg-images/16.jpg");
    */
    background:url("../bg-images/body.jpg");
    /* color:#ffffff; */
    font-size: 14px;
}
