#tty {                                                                          
    font-family: monospace;                                                     
    font-size: 12px;                                                            
    line-height: 0px;                                                           
}      
