<!DOCTYPE html>
<html>
    <head>
        <title> 404 </title>
        <meta charset="utf-8">
        <meta name="date" content="2013-01-22 13:00:30">
        <!-- Bootstrap -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/media/css/markbook.css" rel="stylesheet" media="screen">
    </head>
    <body style="background-color:transparent">
        <h1> 请选择子目录来查看笔记： %@ </h1>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <!-- your code here -->
    </body>
</html>
