<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>0.6</string>
		<string>0.7</string>
		<string>site-0.9</string>
		<string>web-0.2</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
