#tools ul a {
    text-decoration: none;
    display: block;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
}

#tools ul li {
    display: block;
    float: left;
}

.finder {
    background: transparent url("/media/marboo.biz/logos/Finder@2x.png") top center no-repeat;
    background-size: 64px 64px;
}

.dropbox {
    background: transparent url("/media/marboo.biz/logos/dropbox@2x.png") top center no-repeat;
    background-size: 64px 64px;
}

.btsync {
    background: transparent url("/media/marboo.biz/logos/BitTorrent@2x.png") top center no-repeat;
    background-size: 64px 64px;
}

.emacs {
    background: transparent url("/media/marboo.biz/logos/Emacs@2x.png") top center no-repeat;
    background-size: 64px 64px;
}

.git {
    background: transparent url("/media/marboo.biz/logos/git@2x.png") top center no-repeat;
    background-size: 91px 38px;
    background-position: 0 15px;
}

.github {
    background: transparent url("/media/marboo.biz/logos/github@2x.png") top center no-repeat;
    background-size: 64px 64px;
}

.macvim {
    background: transparent url("/media/marboo.biz/logos/MacVim@2x.png") top center no-repeat;
    background-size: 64px 64px;
}

.mou {
    background: transparent url("/media/marboo.biz/logos/MouApp@2x.png") top center no-repeat;
    background-size: 64px 64px;
}

.totalterminal {
    background: transparent url("/media/marboo.biz/logos/TotalTerminal@2x.png") top center no-repeat;
    background-size: 64px 64px;
}

.ghost {
    background: transparent url("/media/marboo.biz/logos/ghost@2x.png") top center no-repeat;
    background-size: 100px 50px;
    background-position: 0 6px;
}

.jekyll {
    background: transparent url("/media/marboo.biz/logos/jekyll.png") top center no-repeat;
    background-size: 100px 46px;
    background-position: 0 5px;
}

.hexo {
    background: transparent url("/media/marboo.biz/logos/hexo@2x.png") top center no-repeat;
    background-size: 88px 48px;
    background-position: 0 10px;
}

.atom {
    background: transparent url("/media/marboo.biz/logos/atom@2x.png") top center no-repeat;
    background-size: 64px 64px;
}